<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CarePoint Clinic</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
    </head>
    <body>

        <!-- NAVBAR -->
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- CONTENT -->
        <h1 style="padding-top: 200px">This page shows the list of clinics</h1>

        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>
        <script src="/js/main.js"></script>
    </body>
</html>